<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instituto Tecnológico Loja</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin_dashboard.css' %}">
    
</head>

<body>
    <!-- Header -->
    <header>
        <a>
            <img src="{% static 'img/LOGOlateralnormal.png' %}" alt="Logo Tecnológico Loja">
        </a>

        <nav>
            <ul>
                <li><a href="{% url 'dashboard' %}">Inicio</a></li>
                <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
            </ul>
        </nav>
    </header>

    <!-- Contenido principal -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <div class="footer-section">
            <img src="{% static 'img/logo-footer.png' %}" alt="Logo Footer">
        </div>
        <div class="copyright">
            © 2025 Instituto Tecnológico Loja. Todos los derechos reservados.
        </div>
    </footer>
    

    <script src="{% static 'js/slider.js' %}"></script>
</body>

</html>