<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instituto Tecnológico Loja</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin_dashboard.css' %}">
    
</head>

<body>
    <!-- Header -->
    <header>
        <a>
            <img src="{% static 'img/LOGOlateralnormal.png' %}" alt="Logo Tecnológico Loja">
        </a>

        <nav>
            <ul>
                <li><a href="{% url 'dashboard' %}">Inicio</a></li>
                <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
            </ul>
        </nav>
    </header>

    <!-- Contenido principal -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <div class="footer-section">
            <img src="{% static 'img/logo-footer.png' %}" alt="Logo Footer">
        </div>

        <div class="footer-section">
            <h3>Contactos:</h3>
            <p>
                <img src="{% static 'img/email.svg' %}" alt="Correo" class="icono-info">
                secretaria@tecnologicoloja.edu.ec
            </p>
            <p>
                <img src="{% static 'img/phone.svg' %}" alt="Teléfono" class="icono-info">
                (593) 07-2613865
            </p>
        </div>

        <div class="footer-section">
            <h3>Cómo llegar:</h3>
            <p>
                <a href="https://www.google.com/maps/place/Instituto+Superior+Tecnologico+Loja+-+ISTLOJA+(campus+Loja)/@-3.9750203,-79.2059185,15z/data=!4m6!3m5!1s0x91cb494d61e89c57:0x991aecf37bbbd64c!8m2!3d-3.9750203!4d-79.2059185!16s%2Fg%2F11pzk44h_4?entry=ttu"
                    target="_blank">
                    <img src="{% static 'img/map.svg' %}" alt="Ubicación" class="icono-info">
                    Campus Loja
                </a>
            </p>
            <p>
                <a href="https://www.google.com/maps/place/Instituto+Superior+Tecnologico+Territorial+de+Loja,+extension+Vilcabamba/@-4.2644633,-79.2117872,15z/data=!4m6!3m5!1s0x91cb289755c70e0f:0x5b09bcc9766e05d!8m2!3d-4.2644633!4d-79.2117872!16s%2Fg%2F11g6qldhlk"
                    target="_blank">
                    <img src="{% static 'img/map.svg' %}" alt="Ubicación" class="icono-info">
                    Campus Vilcabamba
                </a>
            </p>
        </div>

        <div class="footer-section">
            <h3>Redes sociales:</h3>
            <div class="social-icons-grid">
                <a href="https://www.facebook.com/TecnologicoLoja" target="_blank">
                    <img src="{% static 'img/facebook.svg' %}" alt="Facebook">
                </a>
                <a href="https://x.com/Tecnologicoloja" target="_blank">
                    <img src="{% static 'img/x.svg' %}" alt="Twitter">
                </a>
                <a href="https://www.instagram.com/tecnologicoloja/" target="_blank">
                    <img src="{% static 'img/instagram.svg' %}" alt="Instagram">
                </a>
                <a href="https://www.youtube.com/channel/UCGQ_uZhgc6lhIo-74DrYMtQ" target="_blank">
                    <img src="{% static 'img/youtube.svg' %}" alt="YouTube">
                </a>
            </div>
        </div>
    </footer>




    <div class="copyright">
        © 2025 Instituto Tecnológico Loja. Todos los derechos reservados.
    </div>

    <script src="{% static 'js/slider.js' %}"></script>
</body>

</html>